/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
  }
  /* End Variables */
  /* Start Global Rules */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Work Sans", sans-serif;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .special-heading{
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    color: #ebeced;
    letter-spacing: -3px;
    margin: 0;
  }
  .special-heading + p{
    text-align: center;
    font-size: 20px;
    margin: -30px 0 0;
    color:#797979;
  }
  @media (max-width:767px) {
    .special-heading{
      font-size: 60px;
      text-align: center;
    }
    .special-heading + p{
      margin-top: -20px;
    }
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
.header{
    padding: 10px;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;
}
.header .links:hover ul{
    display: block;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links ul li a:hover{
padding-left: 25px;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: var(--main-duration);
}
.header .links .icon span:last-child{
    width: 100%;
}
.header .links ul{
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    background-color: var(--section-background);
    min-width: 200px;
    z-index:1;
}
.header .links ul::before{
    content: "";
    border-color: transparent transparent var(--section-background) transparent;
    border-width: 10px;
    border-style: solid;
    position: absolute;
    top: -19px;
    right: 0;
}
.header .links a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #222;
    transition: var(--main-duration);
}
.header .links ul li:not(:last-child) a{
border-bottom: 1px solid #333;
}
/* start landing sec */
.landing{
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 60px);
    position: relative;
}
.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 320px;
    max-width: 100%;
    text-align: center;
}
.intro-text h1{
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
}
.intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
/* end landing sec */
/* start features */
.features{
  background-color: #f6f6f6;
  padding-top:30px ;
  padding-bottom:30px ;
}
.features .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  gap: 20px;
}
.features .container .feat{
  margin: 30px 0;
  text-align: center;
}
.features .feat i{
  color: var(--main-color);
}
.features .feat h3{
  font-weight: 800;
}
.features .feat p{
  font-size: 19px;
  line-height: 1.8;
  color: #777;
}
/* start elzero */
.services{
  padding-top:var(--section-padding); ;
  padding-bottom:var(--section-padding) ;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 30px;
  margin-top:100px ;
  text-align: center;
}
.services .srv{
  display: flex;
  margin-bottom: 40px;
}
@media (max-width:767px) {
  .services .services-content .srv{
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i{
  color: var(--main-color);
  flex-basis: 60px;
} 
.services .srv .text{
  flex: 1;
}
.services .srv .text h3{
  margin: 0 0 20px;
}
.services .srv .text p{
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
.services .image{
  text-align: center;
  position: relative;  /* 34an el abn hib2a position absolute  */
}
.services .image::before{
    content: '';
    position: absolute;
    top: -50px;
    right: 5px;
    width: 100px;
    height: calc(100% + 100px);
    background-color: var(--secondary-color);
    z-index: -1;
}
.services .image img{
  width: 260px;
}
@media (max-width:1199px) {
  .services .image {
    display: none;
  }
}
/* end services */
/* start portofolio */
.portfolio{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .portfolio-content{
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  margin-top: 50px;
  margin-bottom: 0;
}
.portfolio .portfolio-content .card{
  background-color: white;
}
.portfolio .portfolio-content .card img{
  max-width: 100%;
}
.portfolio .portfolio-content .card .info{
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3{
  margin: 0;
}
.portflio .portfolio-content .card .info p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
/* end portfolio */

/* start about */
.about{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
} 
.about .about-content{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width:991px) {
    .about .about-content{
    flex-direction: column;
    text-align: center;
  }
}
.about .image{
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width:991px) {
  .about .image {
    margin: 0 auto auto 60px;
  }
}
.about .image::before{
  content: '';
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .image::after{
  content: '';
  position: absolute;
  top: -126px;
  right: -201px;
  z-index: -1;
  width: 120px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  height: 300px;
}
@media (max-width:991px){
  .about .image::before,
  .about .image::after{
    display: none;
  }
}
.about-img{
  max-width: 100%;
}
.about .text{
  flex-basis: calc(100% - 500px);
}
.about .text p:first-of-type{
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .text hr{
  display: inline-block;
  width: 50%;
  border-color: #10cab7;
}
.about .text p:last-of-type{
  line-height: 2;
  color: #777;
}
.contact{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .info{
padding-top: 20px;
  text-align: center;
}
.contact .label{
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .link{
  display: block;
  font-weight: 800;
  font-size: 20px;
  color: #10cab7;
text-decoration: none;
}
.contact .social{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;  
}
.social i{
  color: #777;
  margin-top: 10px;
  font-size: 15PX;
  margin-left: 10px;
}
/* end about */